/* -------------------------------------
 * CSS Backend
 * -------------------------------------
 */

input[type="url"].width-100,
input[type="text"].width-100 {
	width:75%;
}
.meta-color {
	max-width: 150px;
}
.block-reusable,
.block-reusable img {
	width:300px;
	border: 1px solid black;
}
.block-reusable figure {
	margin:0;
}
input[class="width-100"][type="tel"] {
	width:150px;
}
input[class="width-100"][type="numeric"],
input[class="width-100"][type="number"] {
	width:100px;
}
input[class="width-100"][type="textarea"],
textarea[class="width-100"] {
	width: 100%;
	height: 100px;
}
input[class="width-100"]:invalid {
	box-shadow: 0 0 5px 1px red;
}
.cf-label1 {
	color: #004EAE;
	font-size: 16px;
	font-weight: bold;
}
.cf-label2 {
	font-weight: bold;
	margin-right: 16px;
}
th.pad-7,
td.pad-7 {
	padding: 7px 30px 8px 0;
}
.separator {
	border-bottom: 1px solid black;
	height: 20px;
}
.dw-cpt-form {
	width: 100%;
	text-align: left;
}
.dw-cpt-form th {
	width: 150px;
}
.dw-cpt-form .image-preview {
	padding: 10px;
}
.form-field .image-preview.image img,
.dw-cpt-form .image-preview.image img{
	max-width: 250px;
	border: 1px solid black;
	background: #231F46;
}
.form-field .image-preview.icon img,
.dw-cpt-form .image-preview.icon img{
	max-width: 60px;
	border: 1px solid black;
}
.c-red {
	color: red;
}
.c-blue {
	color: blue;
}
.c-green {
	color: green;
}
.c-orange {
	color: orange;
}


/* Setting - tabs */
.tabs{
	display: block;
	position: relative;
	width: 100%;
}
.tabs .tab{
	float: left;
	display: block;
}
.tabs .tab>input[type="radio"] {
	position: absolute;
	top: -9999px;
	left: -9999px;
}
.tabs .tab>label {
	display: block;
	width: fit-content;
	padding: 6px 21px;
	margin-right: 4px;
	font-size: 14px;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
	color: #FFF;
	background: #4A83FD;
}
.tabs .content {
	display: none;
	overflow: hidden;
	width: 80vw;
	padding: 25px;
	position: absolute;
	top: 27px;
	left: 0;
	opacity: 0;
	transition: opacity 400ms ease-out;
}
.tabs>.tab>[id^="tab"]:checked + label {
	top: 0;
	background: #303030;
	color: #F5F5F5;
}
.tabs>.tab>[id^="tab"]:checked ~ [id^="tab-content"] {
	display: block;
	opacity: 1;
	transition: opacity 400ms ease-out;
}

.custom-settings {
	position: absolute;
	left: 0;
}
.settings-submit {
	position: absolute;
	top: 0;
	right: 0;
}
.save-btn-form {
	position: absolute;
	top: 30px;
	left: 425px;
}
.save-btn {
	color: white;
	font-weight: bold;
	background-color: orange;
}

.toplevel_page_dw-menu-options [role="contentinfo"] {
	display: none;
}

.iframe-preview iframe {
	height: 150px;
	width: 250px;
	padding: 8px 0;
}

.no-display {
	display: none;
}

.custom-settings textarea {
	height: unset !important;
}

.taxonomy-product_cat .column-description img {
	max-width: 150px;
	height: auto;
}

.image-preview.image-id img {
	max-width: 80px;
	max-height: 80px;
	border: 1px solid black;
	background: #ddd;
}