.wp-block-doo-block-posts-grid {
	border: 1px dotted #f00;
	min-height: 50px;
	a {
		pointer-events: none;
	}
}

.editor-block-list-item-doo-block-posts-grid {
	.block-editor-block-types-list__item-icon,
	.block-editor-block-types-list__item-title {
		color: #3359FF;
	}
}

