
.doo-category-grid {
	// display: grid;
	// grid-template-columns: repeat(6, 1fr);
	// grid-gap: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	margin-bottom: 20px;
}

.doo-category-item {
	flex: 1 1 calc(16.66% - 20px);
	max-width: calc(16.66% - 20px);
	text-align: center;
	a {
		font-size: 16px;
		color: #333;
		line-height: 20px;
		&:visited {
			color: #333;
		}
		&:hover {
			color: #9DE6E5;
		}
	}
}

.doo-category-item img.rounded-image {
	border-radius: 50%;
	width: 100%;
	height: auto;
	aspect-ratio: 1;
	object-fit: cover;
}

.doo-load-more {
	display: block;
	margin: 40px auto;
}


.doo-category-banner {
	position: relative;
	z-index: 9;
}

.woocommerce-shop {
	.doo-category-banner {
		margin: 0 auto 350px;
	}
}

.wp-block-doo-block-product-cat {
	// .doo-category-grid {
		// grid-template-columns: repeat(4, 1fr);
	// }
	.doo-category-item {
		flex: 1 1 calc(25% - 20px);
		max-width: calc(25% - 20px);
	}
}

@media (max-width: 1100px) {
	.doo-category-banner {
		padding: 0 16px;
	}
	.wp-block-doo-block-product-cat {
		.doo-category-banner {
			grid-column: 1 / span 2;
		}
	}
}


@media (max-width: 800px) {
	.doo-category-grid {
		// grid-template-columns: repeat(4, 1fr);
		// grid-gap: 32px;
		margin-bottom: 0;
	}
	.doo-category-item {
		flex: 1 1 calc(25% - 20px);
		max-width: calc(25% - 20px);
	}
}

@media (max-width: 600px) {
	// .doo-category-grid {
		// grid-template-columns: repeat(3, 1fr);
	// }
	.doo-category-item {
		flex: 1 1 calc(33.33% - 20px);
		max-width: calc(33.33% - 20px);
	}
	.wp-block-doo-block-product-cat .doo-category-item {
		flex: 1 1 calc(50% - 20px);
		max-width: calc(50% - 20px);
	}
	.tax-product_cat {
		.doo-category-banner {
			margin: -100px auto 300px;
		}
	}
	.woocommerce-shop {
		.doo-category-banner {
			margin: 0 auto 400px;
		}
	}
}

@media (max-width: 450px) {
	// .doo-category-grid {
		// grid-template-columns: repeat(2, 1fr);
	// }
	.wp-block-doo-block-product-cat .doo-category-item, 
	.doo-category-item {
		flex: 1 1 calc(50% - 20px);
		max-width: calc(50% - 20px);
	}
}