.wc-block-grid {
	.wc-block-grid__products {
		max-width: 1060px;
		margin: 40px auto;
		display: grid;
		grid-template-columns: repeat(3,1fr);
		grid-gap: 32px;
		list-style: none;
		img {
			height: 446px;
			width: 100%;
			object-fit: cover;
		}
		.category-title {
			font: $font-16px-semibold;
			font-weight: 500;
			text-transform: uppercase;
			width: 100%;
			text-align: center;
			margin: 14px 0 10px;
			color: $color-blue;
			a:hover {
				color: $color-gray;
			}
		}
		.woocommerce-loop-product__title {
			color: $color-black1;
			font: $font-14px-medium;
			width: 95%;
			text-align: center;
			height: 58px;
			margin-bottom: 8px;
			overflow: hidden;
			text-overflow: -webkit-ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
		}
		.price {
			display: flex;
			width: 100%;
			justify-content: center;
			font: $font-18px-semibold;
			color: $color-blue;
			del {
				color: $color-black1;
				font-size: 14px;
				margin-right: 4px;
			}
			small {
				color: $color-gray;
				font-size: 14px;
			}
			.woocommerce-price-suffix {
				&:nth-child(3) {
					order: 2;
					margin-left: 6px;
				}
				&:nth-child(4) {
					order: 1;
					color: $color-blue;
					&:before {
						content: '/';
					}
				}
			}
		}
		a {
			cursor: pointer;
			&:hover {
				img {
					opacity: 0.8;
				}
				.category-title {
					color: $color-gray
				}
			}
		}
		a.button {
			@include btn();
			min-width: 187px;
		}
		a.button,
		.button {
			width: max-content;
			text-align: center;
			margin: 17px auto;
			height: 40px;
			display: flex !important;
		}
	}
}



@media (max-width: 1100px) {

	.wc-block-grid {
		.wc-block-grid__products {
			grid-template-columns: repeat(2,1fr);
			grid-gap: 20px;
			margin: 0 auto;
		}
	}

}

@media (max-width: 600px) {

	.wc-block-grid {
		.wc-block-grid__products {
			.product {
				max-width: 236px;
				margin: 0 auto;
			}
			img {
				height: 314px;
				max-width: 236px;
			}
			.category-title {
				font-size: 9px;
				line-height: 11px;
				margin: 4px auto;
				width: 100%;
			}
			.woocommerce-loop-product__title {
				font-size: 12px;
				line-height: 15px;
				text-align: center;
				height: 44px;
				margin-bottom: 2px;
				overflow: hidden;
				text-overflow: -webkit-ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
			}
			.price {
				font-size: 12px;
				line-height: 18.5px;
				del {
					font-size: 10px;
				}
				small {
					font-size: 8px;
				}
			}
			a.button {
				min-width: unset;
				font-size: 12px;
				padding: 4px 16px;
			}
			a.button,
			.button {
				margin: 3.6px auto 20px;
				height: 26px;
			}
		}
	}

}



.wp-block-doo-block-product-cat {
	max-width: 1060px;
	margin: 0 auto;
	padding: 24px 0;
}